@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

html {
  background-color: #FAFAFA;
  font-family: sans-serif;
  width: 100%;
}

body {
  max-width: 220ch;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  line-height: 1.5;
  color: #1C3144;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}
.body {
  max-width: 80ch;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
}

header {
  max-width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05); /*これを付け足し*/
  text-align: center;
  width: auto;
}
h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul{
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #1C3144;
}
p {
  text-align: start;
}

blockquote{
  background-color:#ebebeb ;
}

code {
  padding: 2px 5px;
  border-radius: 8%;
}
/* Marker*/
span.marker{
    /* マーカーを引く */
background:linear-gradient(transparent 80%, rgb(146, 190, 216) 80%); /* マーカーを引く *
/* インライン属性を指定する */
display: inline;    
}
footer {
  margin: 0 auto;
}
/* nav styles */

.nav-links {
  color: #1C3144;
  width: 100%;
  top: 5rem;
  left: 48px;
  display: none;
  margin: 0;
}

.nav-links a {
  color: #1C3144;
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  color: #1C3144;
  text-decoration: underline;
  text-decoration-color: #449DD1;
  text-decoration-thickness: 3px;
}

.expanded {
  display: unset;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #449DD1;
}
.bold {
  font-weight: bold;
}
.roundedimg {
  border-radius: 1%;
}
.text {
  text-align: center;
}
.carrd {
  margin: 2% auto;
}

.allblog {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  width: auto;
  padding: 0;
  justify-content:start;
  margin: 0 0;
  flex-wrap: wrap;
}
.maxedout {
  width: 240px;
  height: 266px;
  flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
  margin: 1.2%;
}
img .cardimg {
  margin: 0;
  order: 0;
  display: block;
  margin: auto;
  padding-top: 56.25%;
  background-size: cover;
  width: 100%;
}
.textcontainer {
  padding: 2%;
}
.cardtxt {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.recentpost {
  margin-top: 2%;
}

.logo {
  font-size: 128px;
}
.abouttext{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.main {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburger {
    display: none;
  }

}

@media screen and (max-width: 820px) {
  .main{
    width: 80%;
  }
  .allblog {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    width: auto;
    padding: 0;
    margin: 0 0;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.blogpage img {
  max-width: 690px;
  height: auto;
  border-radius: 2%
}
pre {
  padding: 2%;
  border-radius: 2%;
  text-align: start;
}
blockquote {
  padding: 2%;
  border-radius: 2%;
}
