---
//CSSをインポート
import '../styles/global.css';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseLayout from '../layouts/Base-Layouts.astro';
import BaseLayouts from '../layouts/Base-Layouts.astro';
const pageTitle = "About Me"
const identity = {
  firstName: "Snow",
  country: "Japan",
  occupation: "Blog writier",
  hobbies: ["coding", "cooking", "jujutsu"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Godot","Atcoder"];
const pageDescription = "Discover all about BinaryFish! This page holds all the information you need to know about BinaryFish. Learn our goals and the purpose of the blog."
---
<BaseLayouts pageTitle={pageTitle} pageDescription={pageDescription}>
  <img src="/icon.png" />
	<p class="text">
		I am SnowDingo, an experienced web/game developer. <br />I live in {identity.country}.
    please visit the following link to see my portfolio.
	</p>
  <a href="https://snowdingo.github.io/portfolio/">https://snowdingo.github.io/portfolio/</a>
  <style>
    img {
      border-radius: 12px;
      max-width: 64ch;
    }
  </style>
</BaseLayout>
