---
import '../styles/global.css';
import BlogPost from '../components/BlogPost.astro';
import BaseLayouts from '../layouts/Base-Layouts.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Articles"
---
<BaseLayouts pageTitle={pageTitle}>
        <p>Take a loot at numerouse blog posts and articles about Atcoder, Game dev, and Web development</p>
        <ul>
            {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} /> )}
          </ul>
</BaseLayouts>