---
import BaseLayout from '../layouts/Base-Layouts.astro';
const pageTitle = "Binary Fish";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Atcoder, Game and Web development guide for everyone </h2>
</BaseLayout>