---
const {link,platform} = Astro.props
---

<a href={`${link}`}>{platform}</a>

<style>
    a {
      padding: 0.5rem 1rem;
      color: white;
      background-color: #449DD1;
      text-decoration: none;
    }
  </style>