---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const {pageTitle,pageDescription} = Astro.props;

---
<html lang="en">
  <head>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content="blog,tech,begginer,coding" />
    <meta name="description" content={pageDescription} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <div class="page content main">
      <h1>{pageTitle}</h1>
      <slot />
      <Footer />
      <script>
        import "../scripts/Menu.js";
      </script>
    </div>

  </body>
</html>